.secao-body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.secao-body::before {
  content: "";
  position: absolute;
  top: -10px;
  bottom: -10px;
  left: -10px;
  right: -10px;
  background-image: url('../components/imagens/FACHADA-1.jpg');
  background-size: cover;
  background-position: center;
  filter: blur(8px);
  z-index: -1;
} 

.main-section {
  position: absolute; 
  right: 0;
  top: 0;
  height: 100vh; 
  width: 40vw;
  background-color: rgba(255, 255, 255, 0.6);
  border-left: 2px solid #1b57aa;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.div-h1{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1b57aa;
  width: 75%;
  margin-bottom: 50px;
}

.texto-h1{
  font-size: 45px;
  font-weight: bold;
  text-align: center;
  text-align: justify;
  font-family: 'Cal Sans', sans-serif;
}

.div-input{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin-top: 20px;
}

.div-input input {
  font-size: 15px;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 10px;
  outline: none;
  width: 100%;
  height: 40px;
  font-family: 'Cal Sans', sans-serif;
}

i.fa-solid.fa-user{
  color: black;
  width: 7%;
}

i.fa-solid.fa-lock{
  color: black;
  width: 7%;
}

i.fa-solid.fa-address-card{
  color: black;
  width: 7%;
}

i.fa-solid.fa-envelope{
  color: black;
  width: 7%;
}

i.fa-solid.fa-phone{
  color: black;
  width: 7%;
}

.conta{
  display: flex;
  justify-content: right;
  margin-top: 50px;
  font-size: 20px;
  font-family: 'Cal Sans', sans-serif;
}

.conta li{
  list-style: none;
  margin-left: 5px;
}

.conta li a{
  text-decoration: none;
}

.btn-finalizar {
  width: 40%;
  padding: 12px 20px;
  background-color: #1b57aa;
  color: white;
  font-size: 16px;
  font-family: 'Cal Sans', sans-serif;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-finalizar:hover {
  background-color: #144a93;
}
